{% extends "container.html" %}
{% block main %}
<header class="mb-6 flex justify-between">
    <h2 class="text-3xl font-bold mb-2">{{ title }}</h2>
    <p class="text-sm text-gray-500">
        {% if original_url is not none %}
            <a href="{{ original_url }}">{{ created_at }}</a>
        {% else %}
            {{ created_at }}
        {% endif %}
    </p>
</header>
{{ render|safe }}

<footer class="text-sm text-gray-600">
    <div class="absolute bottom-0 right-0 mb-4 mr-4">
        <p>Tags:
        {% for tag in tags %}
            <a href="/tag/{{ tag }}" class="text-blue-500 hover:underline">{{ tag }}</a>
            {{ ", " if not loop.last else "" }}
          {% endfor %}
        </p>
        {% if show_share %}
        <div><form method="POST"><input type="text" name="password"><button type="submit">Share</button></form></div>
        {% endif %}
    </div>

</footer>
{% endblock %}